@charset "ISO-8859-1";


.texto {
	
	font-family: 'Quicksand', sans-serif ;
	font-weight: 600;
}
.estilo{
	justify-content: center;	
}

body{

	padding: 30px 20px 30px 20px;
	background-color:·dbdbdb;
}

h1
{
	text-align:center;
	 font-family: 'Quicksand', sans-serif !important;
	color: rgb(12,59,46);
	font-weight: bold;
	padding: 10px 50px 10px 10px;
	
}
h3
{
	font-family: 'Quicksand', sans-serif;
}
h4
{
	font-family: 'Quicksand', sans-serif;
}
h5
{
	font-family: 'Quicksand', sans-serif;
}
#inicio
{
	border: 1px solid #cccccc;
	padding: 20px 20px 20px 20px;
	border-radius:20px;
}
.bg-light 
{
    background-color: white !important;
    border:  rgb(255, 186, 0)!important;
}
.nav-link{
	color:  rgb(12,59,46)!important;
}
.btn1 {
	border: rgb(12,59,46) !important;
	outline: none;
	height: 50px;
	background-color: rgb(255, 186, 0) !important;
	color: black !important;
	border-radius: 4px;
	font-family: 'Quicksand', sans-serif;
	width: 100%;
}

.user
{
	padding: 40px 20px 30px 20px;
}
#prueba3
{
	
	background:  rgb(255, 186, 0);
	
}
#titulo_tienda{
	font-weight: bold;
	color: black !important;
	font-size: 2.0rem;
	
}
#prueba
{
	background: white;
    padding: 40px 0px 40px 0px;
}

#botonesusuario{
	padding: 20px;
	text-align: center;
	
}
#nav{
	font-family: 'Quicksand', sans-serif !important;
}
#diseño_link{
	    font-weight: bold;
}
.centrar{
	display: grid;
    justify-content: normal;
    align-items: start;
    align-content: center;
}
.Titulos{
	    font-size: 2.0rem;
	    color: black;
}
.sin_padding{
	background: rgb(255, 186, 0);
}
.centrar_row{
	justify-content: center;
	align-items: center;
}
.table_marginh{
	margin-top: 60px;
}
.padding_button_bt{
	padding-bottom: 30px !important;
}